_ppt_extract/
_ppt_verify/
_ppt_verify_final/
_ppt_work/
_ppt_work_final/
*.log
slide*_text.txt
slide*_full.xml
*.zip
Contract_Document_Transformation_Tool/04_Sample_Files/01_Input_Samples/*.pdf
Contract_Document_Transformation_Tool/04_Sample_Files/02_Output_Samples/*.doc
Contract_Document_Transformation_Tool/04_Sample_Files/02_Output_Samples/*.xls
Contract_Document_Transformation_Tool/04_Sample_Files/02_Output_Samples/*.xlsx
Contract_Document_Transformation_Tool/06_Prototype/generated/
